---
title: Jeanette Gunnarsson
---

.container
  .artist-block
    %h1 Jeanette Gunnarsson

    %p.desc Some text about the artist, so

    %p
      You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.
      We swallow it too fast, we choke.

%section
  .container.series
    .section-header
      %h2 Three little paintings
      %p.desc March - April 2015

    .series-block
      .series-image
        = image_tag '//i.imgur.com/vfiGjBG.png'
      .series-text
        %p have some blurb about this painting
    .series-block
      .series-image
        = image_tag '//i.imgur.com/7CDN2zE.png'
      .series-text
        %p have some blurb about this painting
    .series-block
      .series-image
        = image_tag '//i.imgur.com/SdNJ9Al.jpg'
      .series-text
        %p have some blurb about this painting

%section.white
  .container.series
    .section-header
      %h2 One and One is Two
      %p.desc February 2015
    .image-holder.image-holder--grey
      .image-block.two
        .image.full-width
          = image_tag '//i.imgur.com/UKDEv8F.jpg'
        .text
          .text-holder
            %h4 Some text about the image or painting.
            %p
              Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
              You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.
              We swallow it too fast, we choke.
      .image-block.two
        .image.full-width.right
          = image_tag '//i.imgur.com/QVwhnsb.jpg'
        .text
          .text-holder
            %h4 Some text about the image or painting.
            %p
              Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
              You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.
              We swallow it too fast, we choke.

%section.blue
  .container.series
    .section-header
      %h2 Blue is the new blue
      %p.desc January 2015
    .image-block.image-block-single
      .image
        = image_tag '//i.imgur.com/2PEPS7p.jpg'
    .text
      %h4 Some text about the image or painting.
      %p
        Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
        You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.
        We swallow it too fast, we choke.

%section.white
  .container.series
    .section-header
      %h2 Blue, pink and green
      %p.desc December 2014 - February 2015
    .image-block.image-block-single
      .image
        = image_tag '//i.imgur.com/fsW8oL7.jpg'
    .text
      %h4 Some text about the image or painting.
      %p
        Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
        You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.
        We swallow it too fast, we choke.

%section
  .container.series
    .section-header
      %h2 Comet
      %p.desc October 2014
    .image-block.image-block-single
      .image
        = image_tag '//i.imgur.com/Q1RgfuI.jpg'
    .text
      %h4 Some text about the image or painting.
      %p
        Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
        You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.
        We swallow it too fast, we choke.

%footer
  .container.footer
    .image-holder
      .image-block.image-block--footer
        .image
          = image_tag '//i.imgur.com/Kxw9MbA.jpg', alt: 'Jeanette Gunnarsson'
        .text
          .text-holder
            %h3 About the artist
            %p
              Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
              You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.
              We swallow it too fast, we choke.
